table.Left {
	margin-left:0; 
}
table.Pad {
	margin-left:0; 
}
th {
        padding: 0 0 0 0;
	font: bold 10pt Comic Sans, Arial, sans-serif;
   	color: black; 
}
td {
        padding: 1px 1px 1px 1px;
	font: normal 9pt Comic Sans, Arial, sans-serif;
   	color: black; 
}
td.Right {
	font: normal 9pt Comic Sans, Arial, sans-serif;
   	color: black; 
	text-align: Right;
   	padding-right: 5px;
}
td.Cream {
        padding: 1px 1px 1px 1px;
	font: normal 10pt Comic Sans, Arial, sans-serif;
   	color: #F6F1CF; 
}
td.CreamCentred {
   	text-align: center; 
        padding: 1px 1px 1px 1px;
	font: normal 10pt Comic Sans, Arial, sans-serif;
   	color: #F6F1CF; 
}
td.LightBlue {
	font: normal 10pt Comic Sans, Arial, sans-serif;
   	text-align: justify; 
	border: outset; 
	margin-left:1px; 
	margin-right:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding:4px;
   	color: black; 
	background: #c1dae9;
}
td.LightBlueSmall {
	font: normal 7pt Comic Sans, Arial, sans-serif;
   	text-align: center; 
	border: outset; 
	margin-left:1px; 
	margin-right:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding:4px;
   	color: black; 
	background: #c1dae9;
}

